# Python
__pycache__/
*.py[cod]
*.pyo
.Python
env/
.venv/
venv/

# dotenv
.env

# Byte-compiled / optimized / DLL files
*.pyc
*.pyd

# Distribution / packaging
build/
dist/
*.egg-info/

# VS Code
.vscode/

# OS files
Thumbs.db
ehthumbs.db
Desktop.ini
